ONEC_URL=https://1cfresh.com/a/ea/BASE_ID/odata/standard.odata/
ONEC_USER=odata-user
ONEC_PASSWORD=replace-me
PORT=3001
HOST=127.0.0.1
ONEC_TIMEOUT_MS=30000
ONEC_TIMEZONE=Europe/Moscow
ONEC_USE_PROXY=false
# Необязательные значения. Организация и валюта берутся из договора.
# ONEC_ORGANIZATION_REF=
# ONEC_CURRENCY_REF=
# ONEC_WAREHOUSE_REF=
# ONEC_RESPONSIBLE_REF=
# ONEC_BANK_ACCOUNT_REF=
# ONEC_VAT_RATE=22
